@using GameReviewSite.Core.Models
@model IEnumerable<AllGamesViewModel>
<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="https://wallpapercave.com/wp/wc1765288.jpg">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Video Gallery</h2>						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->

	<!-- Page section -->
	<section class="page-section recent-game-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						@foreach (var game in Model)
						{
						<div class="col-md-6" style="flex: 0 0 33%;" >
							<div class="recent-game-item">
								<div class="rgi-thumb set-bg" data-setbg="@game.Image">
									<div class="cata new">@game.Tag</div>
								</div>
								<div class="rgi-content">
									<h5><a asp-area="" asp-action="GameDetails" asp-controller="Game" asp-route-id="@game.Id" class="btn btn-block btn-outline-info btn-xs">@game.Name</a></h5>
									<p><b>Developer:</b> @game.Developer</p>
									@if(@game.Price==0)
								{
									<p><b>Price:</b> Free To Play</p>
								}
								else
								{
									<p><b>Price:</b> @game.Price€</p>
								}	
									<a href="#" class="comment"><b>Reviews:</b> @game.ReviewsCount</a>
									<div class="rgi-extra">
										<p><b>Rating:</b> @game.Rating</p>
									</div>
								</div>
							</div>	
						</div>
						}												
					</div>
				</div>
				<!-- sidebar -->
				
					<!-- widget -->					
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->	