@using GameReviewSite.Infrastructure.Data
@model Game
@{
	ViewData["Title"] = "Game Details";
}

<style>
	.custom-box {
		box-shadow: 0px 0px 6px 0px #000000;
		border-radius: 8px;
		border: 1px solid transparent;
		border-color: gray;
		padding-top: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		padding-left: 40px;
		margin-bottom: 40px;
	}

	.custom-price {
		margin-bottom: 0px;
		margin-top: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: middle;
	}

	.custom-center {
		margin: auto;
		width: 20%;
		border: 5px transparent;
		padding: 10px;
	}
</style>

<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="@Model.Image">
	<div class="pi-content">
		<div class="container">
			<div class="row">
				<div class="text-white" style="text-shadow: 8px 4px 8px #000000;">
					<h1><b>@Model.Name</b></h1>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page info section -->
<!-- Game Section Begin -->
<section class="game-details spad">
	<div class="container">
		<div class="game__details__content">
			<div class="row">
				<div class="custom-box col-lg-12">
					<div>
						<div class="text-lg-center" style="margin-bottom: 10px;">
							<h4>Description</h4>
						</div>
						<p style="font-size: 20px; color: black;">
							@Model.Description
						</p>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<ul>
									<li><span><b>Developer:</b></span> @Model.Developer</li>
									<li><span><b>Publisher:</b></span> @Model.Publisher</li>
									<li><span><b>ReleaseDate:</b></span> @Model.ReleaseDate</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6">
								<ul>
									<li><span><b>Tags:</b></span> Action, Adventure, Fantasy, Magic</li>
									<li><span><b>Rating:</b></span> @Model.Rating</li>
								</ul>
							</div>
						</div>
						<div class="custom-center">
							<div class="text-lg-center custom-box custom-price">
								<h5>Price: @Model.Price€</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="custom-box col-lg-12">
					<div class="section-title">
						<h4>Your Comment</h4>
					</div>
					<form action="#" class="custom-center" style="width: 90%;">
						<textarea placeholder="Your Review Text" class="custom-box"></textarea>
						<br />
						<button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
					</form>
				</div>
				<div class="custom-box col-lg-12">
					<div class="game__details__review">
						<div class="section-title">
							<h4>Reviews</h4>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-1.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Chris Curry - <span>1 Hour ago</span></h6>
								<p>
									whachikan Just noticed that someone categorized this as belonging to the genre
									"demons" LMAO
								</p>
							</div>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-2.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Lewis Mann - <span>5 Hour ago</span></h6>
								<p>Finally it came out ages ago</p>
							</div>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-3.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Louis Tyler - <span>20 Hour ago</span></h6>
								<p>Where is the episode 15 ? Slow update! Tch</p>
							</div>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-4.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Chris Curry - <span>1 Hour ago</span></h6>
								<p>
									whachikan Just noticed that someone categorized this as belonging to the genre
									"demons" LOL
								</p>
							</div>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-5.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Lewis Mann - <span>5 Hour ago</span></h6>
								<p>Finally it came out ages ago</p>
							</div>
						</div>
						<div class="game__review__item">
							<div class="game__review__item__pic">
								<img src="~/img/game/review-6.jpg" alt="">
							</div>
							<div class="game__review__item__text">
								<h6>Louis Tyler - <span>20 Hour ago</span></h6>
								<p>Where is the episode 15 ? Slow update! Tch</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Game Section End -->