@using GameReviewSite.Core.Models
@model IEnumerable<ManageGamesViewModel>
@{
}
<div>
	<div class="col-12">
		<div>
			<div>
				<h3 class="card-title">Application Games</h3>
				<div class="card-tools row">
					<div class="col-lg-2">
						<button type="button" class="nav-link btn btn-primary btn-block text-white">
							<a asp-area="" asp-controller="Game" asp-action="Addgame">Add Game</a>
						</button>
					</div>
				</div>
			</div>
			<div class="card-body table-responsive p-0">
				<table class="table text-nowrap">
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Price</th>
							<th>Developer</th>
							<th>Publisher</th>
							<th>ReleaseDate</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var game in Model)
						{
							<tr>
								<td>
									@if (@game.Image != null)
									{
										<img style="width: 50px; height: 50px;" src="@game.Image">
									}
								</td>
								<td>@game.Name</td>
									@if(@game.Price==0)
								{
									<td>Free To Play</td>
								}
								else
								{
									<td>@game.Price€</td>
								}	
								<td>@game.Developer</td>
								<td>@game.Publisher</td>
								<td>@game.ReleaseDate</td>
								<td>
									<a asp-area="" asp-action="edit" asp-controller="game" asp-route-id="@game.Id" class="btn btn-block btn-outline-info btn-xs">Edit</a>
									<a asp-area="" asp-action="EditGameTags" asp-controller="game" asp-route-id="@game.Id" class="btn btn-block btn-outline-warning btn-xs">Manage Tags</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>